﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="head">
        <img src="~/images/header.png" />
        
    </div>
    <!doctype html>

    <html lang=''>

    <head>

        <meta charset='utf-8'>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="styles.css">

        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript">
        </script>

        <script src="script.js">
        </script>

        <title>CSS MenuMaker</title>

    </head>

    <body>

        <div id='cssmenu'>
            <ul>

                
                <li><a href="http://localhost:3415/"><span>Home</span></a></li>

                <li class='has-sub'>
                    <a href='#'><span>Tin tức</span></a>

                    <ul>

                        <li class='has-sub'>
                            <a href='~/Default/Tin1'><span>Tin hot</span></a>



                        </li>

                        <li class='has-sub'>
                            <a href='~/Default/Tin2'><span>Tin mới</span></a>



                        </li>

                    </ul>

                </li>
                

                <li class='has-sub'>
                    <a href='#'><span>Phim</span></a>

                    <ul>

                        <li class='has-sub'>
                            <a href='~/Default/her'><span>Phim hot</span></a>



                        </li>

                        <li class='has-sub'>
                            <a href='~/Default/Tin2'><span>Phim sắp chiếu</span></a>



                        </li>

                    </ul>

                </li>

                <li><a href='~/Default/Ve'><span>Mua vé online</span></a></li>

                <li class='last'>
                    <a href='~/Default/Forum'>
                        <span>Diễn đàn</span>
                    </a>
                </li>
            </ul>
        </div>
        
            <div class="content-right">
                <img src="~/images/quangcao.png" />
            </div>
       
            
           

    <div>
        @RenderBody()
    </div>
        <div class="content-bottom">
           
        </div>
        <div class="footer">
           <h2>Design by Trần Minh Tuấn</h2>
        </div>
</body>
</html>
