﻿@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2></h2>
<div class="main">
    <div class="item">
        <div class="box-img">
            <img src="images/phim.png" />
        </div>
        <a href="~/Default/her" target="_blank">Hercules 2014</a>
        <i>Imdb: 6.4</i>
    </div>
    <div class="item">
        <div class="box-img">
            <img src="images/Panda.png" />
        </div>
        <a href="~/Default/Tin1" target="_blank">Kungfu Panda 3 né Star Wars</a>
     
    </div>
    <div class="item">
        <div class="box-img">
            <img src="images/dienvien.png" />
        </div>
        <a href="~/Default/Tin1" target="_blank">Những diễn viên gắn liền với tuổi thơ 9X</a>
        
    </div>
    <div class="item">
        <div class="box-img">
            <img src="images/hobbit.png" />
        </div>
        <a href="~/Default/Tin2" target="_blank">Trailer The Hobbit: The Battle of the Five Armies (2014)</a>
        
    </div>
    <div class="item">
        <div class="box-img">
            <img src="images/nhat.png" />
        </div>
        <a href="~/Default/Tin1" target="_blank">Top drama Nhật không thể bỏ qua tháng 12 này</a>
       
    </div>
    <div class="item">
        <div class="box-img">
            <img src="images/hero.png" />
        </div>
        <a href="~/Default/Tin2" target="_blank">Trailer Hero Big 6</a>
        
    </div>

</div>
        </div>