﻿@{
    ViewBag.Title = "Forum";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h1>Forum</h1>
<div class="forum">
    <div class="forum-box">
        <h3>[HOT]Rạp Cantavil Parkson Quận 2 khuyến mại đặc biệt duy nhất ngày 20/12/2014</h3>
    </div>
    <div class="forum-box">
        <h3>[NEW]Bàn luận về Anime hay nhất mùa xuân 2015!!!</h3>
    </div>
    <div class="forum-box">
        <h3>[HOT]Những lưu ý khi đi xem phim</h3>
    </div>
    <div class="forum-box">
        <h3>[MEGASHARE|FSHARE|4SHARE|TORRENT]The Walking Dead Season 5 Full</h3>
    </div>
    <div class="forum-box">
        <h3>Hỏi về phim Finding Dory (2016)</h3>
    </div>
    <div class="forum-box">
        <h3>[SHARE]Boku wa tomodachi ga suka nai & Denpa onna to Sheishun otoko illustrate</h3>
    </div>
    <div class="forum-box">
        <h3>[QUOTE]Những câu nói bất hữu trong phim</h3>
    </div>
    <div class="forum-box">
        <h3>[CAUTION]PLEASE READ THIS BEFORE WATCHING NYMPHOMANIAC</h3>
    </div>
</div>
