﻿@{
    ViewBag.Title = "her";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h1>Hercules (2014)</h1>
<div class="tintuc">
    <div class="detail-img">
        <img src="~/images/phim.png" />
    </div>
    <div class="detail">
        <h3>Tên phim: Vị Thần Sức Mạnh Hercules - Hercules 2014</h3>
        <h3>Đạo diễn: Brett Ratner</h3>
        <h3>Diễn viên: Dwayne Johnson, John Hurt, Ian McShane</h3>
        <h3>Thể loại: Phim Hành Động, Phim Thần Thoại</h3>
        <h3>Quốc Gia: Phim Mỹ</h3>
        <h3>Thời lượng: 90 phút</h3>
        <h3>Năm phát hành: 2014</h3>
        <h3>Lượt xem: 36,557</h3>
        <a href="~/Default/v3" target="_blank">TRAILER</a>
    </div>
    
</div>
