﻿@{
    ViewBag.Title = "Tin1";
    Layout = "~/Views/Shared/Default.cshtml";
}
<h1>Tin Hot</h1>

<h2>Kungfu Panda né Star Wars</h2>
<div class="tintuc">
    <div class="detail-img">
        <img src="~/images/panda.png" />
        
    </div>
        <div class="detail">
            <h4>
                Bom tấn hoạt hình của hãng DreamWorks không muốn đối đầu với siêu phẩm đến từ Disney trong dịp Noel 2015 nên buộc phải thay đổi ngày khởi chiếu dự kiến.
                Xưởng phim hoạt hình DreamWorks cho biết họ sẽ thay đổi ngày khởi chiếu của Kung Fu Panda 3 sang 18/3/2016. Ban đầu, phim dự kiến ra rạp từ 23/12/2015. Song,
                 đây là lúc bom tấn Star Wars: The Force Awakens vừa mới được khởi chiếu và họ muốn tập phim thứ ba về chú gấu trúc Po thu được lợi nhuận tối đa.Hiện DreamWorks
                 cũng đang phải đau đầu tìm kiếm ngày khởi chiếu thích hợp cho hai bộ phim khác trong năm sau là Home và B.O.O.: Bureau of the Otherwordly Operations bởi hãng muốn tránh
                 phải đối đầu với các bom tấn như Furious 7 và Avengers: Age of Ultron. Trước đó, trong một thông cáo báo chí, DreamWrorks cho biết họ buộc phải tính toán lại kế hoạch phát hành sau
                 khi Marvel Studios và Disney tiết lộ kế hoạch ra mắt 10 bộ phim mới kể từ nay cho tới 2019. B.O.O. sẽ bị kẹp giữa Avengers: Age of Ultron và Ant-Man của Marvel Studios và Disney trong mùa
                 hè 2015; còn tới tháng 11/2016, bộ phim Trolls của DreamWorks dự kiến sẽ ra rạp với Doctor Strange trong cùng một ngày. Chắc chắn xưởng hoạt hình DreamWorks sẽ còn nhiều thay đổi trong lịch
                 phát hành, sau khi đưa ra điều chỉnh đầu tiên với Kung Fu Panda 3.



            </h4>

        </div>
    

</div>
<h2>Top drama Nhật không thể bỏ qua tháng 12 năm nay</h2>
<div class="tintuc">
    <div class="detail-img">
        <img src="~/images/nhat.png" />

    </div>
    <div class="detail">
        <h4>
            Tháng cuối năm, nghía vào top drama Nhật hiện tại của các "mọt phim" Nhật, ta thấy.. 
            1- Doctor-X season 3:
            Doctor-X season 3 tiếp diễn hành trình của cô nàng bác sĩ đầy tài năng nhưng ngổ ngáo Michiko Daimon. Với vẻ ngoài vô cùng ấn tượng, có thể trở thành người mẫu thời trang nhưng Michiko lại chọn chuyên ngành chẳng liên quan: “bác sĩ giải phẫu”. Và cũng như sự “chẳng liên quan” của mình, Michiko luôn xuất hiện và hành xử theo một cách chẳng giống ai trong bệnh viện.
            Nhưng sự nổi loạn của cô lại đem đến luồng cảm hứng mới cho những đồng nghiệp. Với cá tính bộc trực cùng sự tự tin vào khả năng của bản thân, cô đã chỉ trích những điều cổ lỗ sĩ lẫn tiêu cực tồn tại trong bệnh viện và toàn bộ hệ thống y tế của Nhật Bản.
            Lần trở lại này cô tình cờ vướng phải cuộc đối đầu giữa 2 phe cánh của các bác sĩ trên một hòn đảo nhỏ. Michiko đã chuốc lấy rắc rối cho mình khi nhảy vào giữa chiến tuyến đó với việc tuyên bố sẽ lãnh trách nhiệm điều trị cho Ryonosuke – đồng thời cũng là cựu giám đốc nơi cô đã từng làm việc.
            2- Mischievious Kiss 2: Love in Tokyo – Nụ hôn định mệnh 2
            Được chuyển thể từ bộ manga đình đám “Itazura na Kiss” của tác giả Kaoru Tada, Mischievious Kiss: Love Tokyo hiện đã bắt đầu bước sang mùa thứ 2. Giờ đây đã không còn là tình yêu học trò ngây ngô ngày nào. Naoki và Kotoko đã đến lúc phải thực sự trưởng thành, họ bước vào cuộc sống hôn nhân sau 6 năm bên nhau với biết bao vui buồn và biến cố. Sự đáng yêu dễ đi vào lòng người khiến Mischievious Kiss 2 không thể vắng mặt trong top drama Nhật của các fan tuổi teen.
            Nhưng liệu kết hôn có phải là kết thúc ngọt ngào nhất cho cả hai? Khi mà họ sẽ phải đối mặt với những áp lực thường ngày mà bất cứ cặp vợ chồng nào cũng phải trải qua. Khán giả sẽ được chứng kiến bao tình huống bi hài nhưng không kém phần lãng mạn nảy sinh, tất cả cũng chỉ tại cái tính khí ẩm ương, đang trên hành trình trở thành người lớn của đôi bạn trẻ.
            Tiếp nối thành công của mùa trước, Love in Tokyo 2 hiện được trình chiếu trên kênh Fuji Tv và đang tiếp tục gây sốt trên sóng truyền hình Nhật Bản 
            3- Nobunaga Concerto:
            Thử tưởng tượng một ngày nọ, khi bạn đang cố vùng vẫy trong đống bài vở vô cùng nhàm chán và thầy cô thì cũng phát ngấy vì bạn lắm rồi. Bỗng nhiên bạn được mang trở về thời chiến quốc, được đối diện với vị tướng quân vĩ đại nhất nước Nhật: Nobunaga Oda. Không chỉ có vậy, bạn còn phát hiện ra rằng ngoại hình của mình giống hệt với ngài! Đó chính là khởi đầu trong Nobunaga Concerto, live action mới toanh của đài Fuji TV.   
            Cách tiếp cận vấn đề của phim không mới, nhưng tạo được sự lôi cuốn khán giả vì cách thể hiện trẻ trung, sinh động. Đây là một phim kết hợp được những điển tích lịch sử vào lối sống hiện đại thường ngày. Và điều đó cũng là cách mà các nhà làm phim dùng để kể về truyền thống dân tộc cho các bạn trẻ với một lối nói hấp dẫn hơn 
        </h4>

    </div>


</div>
<h2>Những diễn viên gắn liền với tuổi thơ 9X: Ngày ấy và bây giờ</h2>
<div class="tintuc">
    <div class="detail-img">
        <img src="~/images/dienvien.png" />

    </div>
    <div class="detail">
        <h4>
            Melissa Joan Hart vai Cô phù thủy nhỏ Sabrina
            Melissa Joan Hart được chú ý tại Việt Nam khi đảm nhận vai chính trong bộ phim ăn khách “Cô phù thủy nhỏ Sabrina”. Nữ diễn viên hóa thân thành cô phù thủy tuổi teen sống cùng hai bà dì và phát hiện ra mình sở hữu quyền năng phép thuật vào sinh nhật lần thứ 16. Cuộc sống của Sabrina theo từng năm tháng đã khiến khán giả trẻ Việt Nam thời bấy giờ thấp thỏm mong ngóng đến 18 giờ để bật sóng VTV3.
            Hiện giờ, Melissa đã ở tuổi 38, có chồng là một nhạc công và hai con nhỏ.
            Melissa Joan Hart từng dính tới nhiều scandal liên quan tới chất kích thích. Tháng 10/2013, cô xuất bản một cuốn sách tiết lộ về việc từng sử dụng cần sa, thuốc gây ảo giác và thuốc lắc trong khoảng một năm rưỡi. Quá khứ có phần phóng túng nhưng Melissa giờ đã thay đổi. Mặc dù không nổi đình đám như xưa nhưng cô hạnh phúc bên chồng và hai con.
            Từng có thời gian, Melissa khiến nhiều người thất vọng vì vóc dáng phì nhiêu của mình. Rất may, bằng nhiều phương pháp, nữ diễn viên này đã giảm cân thành công. Hình ảnh mới nhất của cô bên cậu con trai 6 tuổi cho thấy dù không còn trẻ, nhưng Melissa vẫn lưu giữ những nét đẹp của cô phù thủy nhỏ ngày nào.
            Zen Gesner, chàng Sinbad điển trai
            Zen Gesner được khán giả Việt Nam, đặc biệt là các bạn 9X đời đầu, biết đến qua bộ phim "Cuộc phiêu lưu của Sinbad". Khán giả ấn tượng và không thể quên được chàng Sinbad điển trai, dũng cảm, bao lần vào sinh ra tử cùng bạn bè giành lấy công lý. Đây được coi là vai diễn đình đám nhất của Zen.
            Về sau, Zen Gesner góp mặt trong một số vai diễn và nhiều show truyền hình nhưng đa số mọi người vẫn nhớ về anh như một chàng thuyền trưởng dũng cảm hào hoa ngày nào.
            Zen Gesner đã kết hôn với diễn viên Cynthia Farrelly Gesner từ năm 1995. Họ sống hạnh phúc với ba cậu con trai.
            Jacqueline Collen vai Maeve trong “Những cuộc phiêu lưu của Sinbad”
            Nàng phù thủy Maeve xinh đẹp với nhiều phép thuật ngày ấy - Jacqueline Collen - giờ đã ở tuổi 48. Sau thành công của bộ phim “Những cuộc phiêu lưu của Sinbad”, Jacqueline dường như bị lãng quên với các vai diễn mờ nhạt. Jacqueline từ bỏ nghiệp diễn xuất khá sớm để chuyên tâm làm một họa sĩ. Cô từng hai lần kết hôn và hiện giờ có cuộc sống rất bình dị, rời xa ánh đèn sân khấu.
            Dàn sao của “Siêu nhân Gao”
            Đối với một thế hệ khán giả nhỏ tuổi Việt, đặc biệt là 8X và 9X đời đầu, bộ phim "Hyakujuu Sentai Gaoranger" (hay "Siêu nhân Gao") là một trong những bộ phim Nhật Bản được yêu thích nhất. Bộ phim gắn liền với tuổi thơ 9X. Vì thế dàn diễn viên chính trong phim đã từng là thần tượng một thời của các fan phim ảnh.
            Mio Takeuchi - Gao Trắng
            Cô nàng Gao Trắng do Mio Takeuchi thủ vai cũng là nữ diễn viên được yêu thích nhất phim. Tới nay, nữ diễn viên sinh năm 1985 vẫn giữ được những nét đẹp tròn trịa và đáng yêu của mình. Tuy nhiên, Mio lại không thể vượt qua cái bóng quá lớn của hình ảnh cô nàng Gao Trắng năm nào. Sự nghiệp của Mio dậm chân tại chỗ và thông tin về cô cũng ngày càng thưa thớt trên báo chí.
            Noboru Kaneko – Gao Đỏ
            Noboru Kaneko sinh năm 1974 và có ngoại hình đẹp như tượng. Anh từng đảm nhận vai Gao Đỏ gây sốt trên màn ảnh suốt thập niên đầu của thế kỷ 21. Noboru Kaneko sau những thành công ban đầu chủ yếu tham gia phim truyền hình và những phim điện ảnh nhỏ khác. Profile của anh hiện khá khiêm tốn trong làng điện ảnh Nhật. Ở tuổi 40, Noboru vẫn đẹp trai như ngày nào nhưng khán giả vẫn mãi chỉ nhớ đến anh qua vai diễn trong quá khứ từ nhiều năm trước.
            Kei Horie – Gao Vàng
            Ngừng nghiệp diễn xuất từ năm 2007, hiện tại Kei Horie chỉ tập trung vào sự nghiệp đạo diễn, nhà văn, nhà biên kịch của mình. Bộ phim "Glowing, Growing" (2001) do anh đạo diễn cũng giành được giải "Dragon and Tiger" tại Liên hoan phim Quốc tế Vancouver. Có thể nói, ở tuổi gần 40, Kei đã đạt được những thành công đáng nể trong sự nghiệp. “Gao Vàng” ngày ấy giờ trở thành nhân vật thực lực trong làng showbiz Nhật Bản.

        </h4>

    </div>


</div>
            
        
    

