﻿@{
    ViewBag.Title = "Tin2";
    Layout = "~/Views/Shared/Default.cshtml";
}
<h1>Tin Mới</h1>
<h2>Trailer The Hobbit: The Battle of the Five Armies (2014)</h2>
<div class="tintuc">
    <div class="detail-img">
        <img src="~/images/hobbit.png" />
    </div>
    <div class="detail">
        <h2>Nội dung</h2>
        <h3>
            The Hobbit: The Battle of the Five Armies (2014) Full HD Vietsub (tạm dịch là Người Hobbit: Cuộc Đại Chiến Của 5 Binh Đoàn) là phần thứ 3 và cũng là phần cuối cùng trong series phim nói về cuộc phiêu lưu để giải cứu cho quê hương mình của anh chàng người Hobbit Bilbo Baggins và các bạn đồng hành. Phần này kẻ thù lớn nhất của họ là con rồng Smaug tàn ác và các thế lực đen tối muốn chiếm giữ toàn nhân loại. Sau kết thúc mở của phần 2 khán giả sẽ đoán chắc được rằng cuộc chiến cuối cùng này sẽ đầy thử thách và cam go khi Smaug tỉnh giấc và hướng đến làng Armies gần đó, nơi của những khách thập phương buôn bán tập trung lại, và cũng là nhà của huyền thoại đã chế tạo ra những mũi tên có thể xuyên qua da thịt của rồng Smaug, nhưng duy nhất chỉ còn một mũi tên do con trai người thợ rèn này nắm giữ. Liệu anh chàng này có thay đổi được số phận và cục diện của bộ phim. The Hobbit 3: The Battle of The Five Armies sẽ ra rạp vào ngày 19/12/2014 tại các rạp ở Việt Nam. Phim tiếp tục được đạo diễn Peter Jackson chỉ đạo thực hiện và có sự góp mặt của các diễn viên nổi tiếng Benedict Cumberbatch, Elijah Wood, Evangeline Lilly, Martin Freeman, Luke Evans, Cate Blanchett, Hugo Weaving, Orlando Bloom.
        </h3>
        <a href="~/Default/v2" target="_blank">PLAY</a>
        
    </div>
</div>
<h2>Trailer Hero Big 6 (2014)</h2>
<div class="tintuc">
    <div class="detail-img">
        <img src="~/images/hero.png" />
    </div>
    <div class="detail">
        <h2>Nội dung</h2>
        <h3>
            Biệt Đội Big Hero 6  là một bộ phim hoạt hình viễn tưởng do hãng phim Walt Disney hợp tác cùng đạo diễn Don Hall sản xuất và sẽ ra mắt khán giả vào tháng 11 năm 2014 này. Nội dung bộ phim lấy bối cảnh thành phố Tokyo của Nhật Bản tuyệt đẹp và hiện đại và đằng sau vẻ hào nhoáng ấy của thành phố và một thế lực ngầm đen tối hằng ngày đe dọa đến tính mạng những cư dân sống tại nơi đây. Đi sâu vào bộ phim chúng ta sẽ thấy một nhóm siêu anh hùng toàn những robot thông minh do cậu bé kỉ sư tài năng Hiro chế tạo, khác với những con robot bình thường, BayMax là con robot có tư duy và suy nghĩ phát triển như con người, ban đầu chúng bị thành phố ngăn cấm vì được xem là mối đe dọa tiềm ẩn cho con người, về sau sự đàn áp của bọn xã hội đen đã thuyết phục được hội đồng của thành phố đồng ý cho lập một biệt đội người máy để đi đàn áp bọn chúng.
        </h3>
        <a href="~/Default/v1" target="_blank">PLAY</a>
        
    </div>
</div>
