﻿@{
    ViewBag.Title = "v1";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h1>Trailer Hero Big 6</h1>
<div class="video-play">
    <video src="~/Video/hero.webm" controls preload="auto" />
</div>
