﻿@{
    ViewBag.Title = "v2";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h1>Trailer The Hobbit: The Battle of the Five Armies (2014)</h1>
<div class="video-play">
    <video src="~/Video/hobbit.webm" controls preload="auto" />
</div>
