﻿@{
    ViewBag.Title = "v3";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h1>Hercules 2014 Trailer</h1>
<div class="video-play">
    <video src="~/Video/her.webm" controls preload="auto" />
</div>
