﻿@{
    ViewBag.Title = "Ve";
    Layout = "~/Views/Shared/Default.cshtml";
}
<h1>Chọn Phim</h1>
<h3>Frozen 2013</h3>
<a href="~/Default/ve1" target="_blank">Here</a>
<h3>Tèo em</h3>
<a href="~/Default/ve1" target="_blank">Here</a>
<h3>The Conjuring</h3>
<a href="~/Default/ve1" target="_blank">Here</a>

