﻿@{
    ViewBag.Title = "ve1";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h1>Chọn Rạp</h1>
<h3>Rạp Cantavil Quận 2</h3>
<a href="~/Default/ve2" target="_blank">here</a>
<h3>Rạp Con gà vàng Thủ Đức</h3>
<a href="~/Default/ve2" target="_blank">here</a>
<h3>Rạp Lotte Cộng Hòa</h3>
<a href="~/Default/ve2" target="_blank">here</a>
