﻿@{
    ViewBag.Title = "ve2";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h1>Giá Vé</h1>
<h3>Người lớn: 80.000 vnd</h3>
<a href="http://localhost:3415/" target="_blank">here</a>
<h3>Người già và trẻ em: 70.000 vnd</h3>
<a href="http://localhost:3415/" target="_blank">here</a>
<h3>Học sinh và sinh viên: 60.000 vnd</h3>
<a href="http://localhost:3415/" target="_blank">here</a>
<h3>Thành viên: 50.000 vnd</h3>
<a href="http://localhost:3415/" target="_blank">here</a>
